.container-gallery{
    display: wrap;
    justify-content: wrapped;
    align-items: center;

}

:host ::ng-deep .p-card {
    
    background: #212121;
    width: 25rem;
    margin-bottom:2em;
    img{
        width: 100%;
        height: auto;
    }

    
}