nav {
display: flex;
justify-content: space-evenly;
margin-top:5%;

    div {
    width: 300px; 
    height: auto; 

        img{
        width: 100%; 
        }
    }

    a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        text-decoration: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: x-large;
        margin: auto;
    }

}


