div {
    margin-left: 5%;
    margin-top: 20px; 
    align-items: center;

    
}


// .ima{
//     display: flex;
//         flex-wrap: wrap;
    // .img-fish{
        // width: 300px; 
        // height: auto; 
        // margin-left: 40%;
        img{
            width: 100%; 
            height: auto;
        }
    // }
// }
